html, body {
	padding: 5px;
	margin:0;
}

* {box-sizing: border-box}

.cart {
	border: 1px dashed #9B410E;
	width: 200px;
	margin-bottom: 10px;
}

div.prod {
	width: 290px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #f0c040;
	padding:5px;
}

div.buy {
	margin-top: 5px;
	padding:5px;
	border:2px  solid #f0c040;
	border-radius: 5px;
	cursor: pointer;
	width: 100px;
}

div.desc {width: 100%;}

.del {
	cursor: pointer;
}

.re-count {
	display: none;
}

.show {
	display: none;
}