{include file='../templates/header.tpl'}

<div class="cart">
	Корзина
	<div class="amount">Кол-во <span>{$cart.amount}</span></div>
	<div class="total">Сумма <span>{$cart.total}</span></div>
	<a href="/cart">Перейти в корзину</a>
</div>

{foreach $book as $e}
<div class="prod desc">
	<div><strong>Название:</strong> {$e.name}</div>
	<div><strong>Цена:</strong> {$e.price}</div>
	<input type="hidden" name="book_id" value="{$e.book_id}">
	<input type="hidden" name="price" value="{$e.price}">
	<div style="padding-bottom: 20px"><strong>Описание:</strong> {$e.desc}</div>
	<div class="buy">Купить</div>
</div>
{/foreach}

{include file='../templates/bottom.tpl'}
