{include file='../templates/header.tpl'}

<div class="cart_prods">
	{if isset($order) && $order=='done'}
	ваш заказ оформлен
	{else}
	{foreach $cart as $e}
	<div class="prod" style="margin-bottom:20px;">
		<div>Название: {$e.name}</div>
		<div>Цена: {$e.price}</div>
		<div>Кол-во: <input class="amount" style="width:30px; text-align:center" type="text" data-prod_id="{$e.prod_id}" value="{$e.amount}"></div>
		<div>Сумма: {$e.total_prod}</div>
		<form action="/cart?del" method="post">
			<input type="hidden"  value="{$e.prod_id}" name="del_prod">
			<input type="submit" value="Удалить">
		</form>

	</div>
	{/foreach}
		{if isset($order) && $order!='none'}
		<form action="/cart?re-count" method="post" class="re-count">
			<input type="hidden"  value="" name="prods">
			<input type="submit" value="Пересчитать">
		</form>
		<div>На сумму: {$cart_total.total}</div>
		<form action="/cart?del_all" method="post">
			<input type="hidden"  value="all" name="del_all">
			<input type="submit" value="Очистить корзину">
		</form>

		<form action="/cart?order" method="post">
			<input name="name" value="" placeholder="Name"> <br />
			<input name="phone" value="" placeholder="Телефон"> <br />
			<input type="submit" value="Оформить заказ">
		</form>
		{else}
		Корзина пуста
		{/if}
	{/if}

</div>

{include file='../templates/bottom.tpl'}