{include file='../templates/header.tpl'}

<div class="cart">
	Корзина
	<div class="amount">Кол-во <span>{$cart.amount}</span></div>
	<div class="total">Сумма <span>{$cart.total}</span></div>
	<a href="/cart">Перейти в корзину</a>
</div>

{foreach $books as $e}
<div class="prod">
	<div><strong>Название:</strong> {$e.name}</div>
	<div><strong>Цена:</strong> {$e.price}</div>
	<div><a href="{$e.url}">Подробнее</a></div>
	<input type="hidden" name="book_id" value="{$e.book_id}">
	<input type="hidden" name="price" value="{$e.price}">
	<div class="buy">Купить</div>
</div>
{/foreach}

{include file='../templates/bottom.tpl'}


