{include file='../templates/header.tpl'}

{foreach $order as $e}
<div class="client_wrapper" style="margin-bottom:20px;">
	<div class="client">Имя: {$e.name}</div>
	<div class="phone">Телефон: {$e.phone}</div>
		{foreach $e.prod as $k}
			<div class="prod" >
				<div>Название: {$k.name}</div>
				<div>Цена: {$k.price}</div>
				<div>Кол-во: {$k.col}</div>
				<div>Сумма: {$k.total_prod}</div>
			</div>
		{/foreach}
	<div class="total">На сумму: {$e.total}</div>
</div>
{/foreach}

{include file='../templates/bottom.tpl'}